{{> header}}
<div class="container">
    <h1>About Web Application</h1>
    <div class="jumbotron">
        <h1 class="display-4">Sneakers Shop</h1>
        <p class="lead">App version <strong>1.0.7</strong></p>
        <hr class="my-4">
        <p class="lead">Author: <strong><a href="/" class="active">Oleh Yaremyn</a></strong></p>
        <p class="lead">Contacts: <i><a href="/" class="active">oleh_yaremyn@ukr.net</a></i></p>
    </div>
    <h1>Information about us</h1>
    <div class="jumbotron">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis dignissimos eius exercitationem facere officia sapiente sit totam voluptate. Accusantium assumenda commodi debitis esse laboriosam laudantium omnis praesentium quidem quisquam saepe? Aut dolore est et labore nihil nulla officia quasi, vitae. Culpa delectus eius error maiores provident quia quis tempore voluptate.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus nemo non soluta. Accusamus aliquid culpa earum explicabo perferendis quam quisquam rerum veniam. At ducimus eaque earum quae quisquam. Dolores eligendi et facilis minus neque numquam optio quae rerum temporibus voluptate.</p>
    </div>
</div>