{{> header}}
<div class="container">
    <h1>Home page</h1>
    <div class="jumbotron">
        <h1 class="display-4">Welcome, dear client!</h1>
        <p class="lead">This web application is designed for convenient purchase of sneakers.
            To view the range, go to the Sneakers tab.</p>
        <hr class="my-4">
        <p>To learn more, we suggest you follow the link below.</p>
        <a class="btn btn-primary btn-lg" href="/app/home/about" role="button">Learn more</a>
    </div>
</div>

<div class="container">
    <h1>News block</h1>
    <div class="jumbotron j-news">
        <h1 class="display-4">How to successfully choose the size of sneakers?</h1>
        <p class="lead">In this post we will tell you how to choose the right size of sneakers.</p>
        <hr class="my-4">
        <p>To read the full material, follow the link below.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Open the news</a>
    </div>
</div>
