{{> header}}
<div class="container">
    <h1>Authorization</h1>
    <div class="jumbotron tabs-jumbotron">
        <ul class="nav nav-pills flex-column flex-sm-row" role="tablist">
            <li class="nav-item col-sm-6" role="presentation">
                <a class="nav-link active" aria-selected="true" role="tab" data-toggle="pill" href="#login">Login</a>
            </li>
            <li class="nav-item col-sm-6">
                <a class="nav-link" role="tab" data-toggle="pill"  href="#register">Registration</a>
            </li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active show fade col-sm-6 offset-sm-3" id="login">
                {{#if loginError}}
                    <div class="alert alert-danger" style="text-align: center" role="alert">
                        {{ loginError }}
                    </div>
                {{/if}}
                <h1 style="text-align: center">Login</h1>
                <form action="/app/authorization/login" method="POST">
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input name="email" id="email" type="email" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input name="password" type="password" class="form-control" id="password" required>
                    </div>
                    <input type="hidden" name="_csrf" value="{{ csrf }}">
                    <p><a href="/app/authorization/reset">Forget password?</a></p>
                    <button class="btn btn-primary" style="width: 100%; margin-top: 10px" type="submit">Sign in</button>
                </form>
            </div>
            <div role="tabpanel" class="tab-pane fade col-sm-6 offset-sm-3" id="register">
                {{#if registerError}}
                    <div class="alert alert-danger" style="text-align: center" role="alert">
                        {{ registerError }}
                    </div>
                {{/if}}
                <h1 style="text-align: center">Registration</h1>
                <form action="/app/authorization/registration" method="POST">
                    <div class="form-group">
                        <label for="name">Your name</label>
                        <input name="name" id="name" type="text" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label for="remail">Email address</label>
                        <input name="email" id="remail" type="email" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label for="rpassword">Password</label>
                        <input name="password" type="password" class="form-control" id="rpassword" required>
                    </div>

                    <div class="form-group">
                        <label for="confirm">Password again</label>
                        <input name="confirm" type="password" class="form-control" id="confirm" required>
                    </div>
                    <input type="hidden" name="_csrf" value="{{ csrf }}">
                    <button class="btn btn-primary" style="width: 100%; margin-top: 10px" type="submit">Sign up</button>
                </form>
            </div>
        </div>
    </div>
</div>

