{{> header}}
<div class="container">
    <h1>Restore access</h1>
    <div class="jumbotron jumbotron-reset">

        {{#if error}}
            <div class="alert alert-danger" style="text-align: center" role="alert">
                {{ error }}
            </div>
        {{/if}}

        <div class="reset-form">
            <h1 style="text-align: center">Enter new password</h1>
            <form action="/app/authorization/password" method="POST">
                <div class="form-group">
                    <label for="password">New password</label>
                    <input name="password" type="password" class="form-control" id="password" required>
                </div>
                <input type="hidden" name="userID" value="{{ userID }}">
                <input type="hidden" name="token" value="{{ token }}">
                <input type="hidden" name="_csrf" value="{{ csrf }}">
                <button class="btn btn-primary" style="width: 100%; margin-top: 10px" type="submit">Update password</button>
            </form>
        </div>
    </div>
</div>